<div class="container">
<div class="row">

  <!-- <app-product-list></app-product-list> -->
   <app-ejemplo1></app-ejemplo1>
  
</div>
</div>
<!--<div>
  hola Diana c:
</div>
<div>
  <p>
    rosaaa
  </p>
</div>

<div>
  {{title}}
</div>
<div>
  <h2>
    la suma de 2 + 2 es {{2+2}}
  </h2>
  <h3>El doble de 3 es {{dobleNumero(3)}}</h3>
</div>

<div>

  <h4>Nombre: {{alumno.nombre | uppercase}}</h4> Mayusculas
  <h4>Edad: {{alumno.edad}}</h4>
  <h4>Curso: {{alumno.curso}}</h4>
  <h4>Fecha: {{alumno.fechaInscrito | date: "dd-MM-yy"}}</h4>
  <h4>Nombre: {{alumno.pago | currency}}</h4>

</div>-->

